:root {
  --background-dark: rgb(28,31,38);
  --background: rgb(35, 40, 48);
  --background-light: rgb(43, 48, 59);
  --text: rgb(223, 225, 232);
  --foreground: rgb(101, 115, 127);
  --selection: rgb(38, 194, 255);;
  --latex-basic: #82c448;
  --latex-square: #f1727f;
  --latex-curly: #ff84e8;
}